body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.grid{
    display: grid;
}

            /*HEADER*/

header{
    grid-template-columns: 2fr 5fr;
    height: 100px;
}

.header a{
    font-size: 50px;
    color: green;
    margin-left: 30px;
}

.header span{
    position: relative;
    bottom: 15px;
    right: 10px;
    font-size: 40px;
    color: gray;
}

nav {
    height: 30px;
    background-color: green;
    grid-template-columns: repeat(8, 1fr);
}

nav a{
    color: white;
    font-size: 18px;
    text-align: center;
    align-self: center;
}

nav div {
    height: 100%;
}

nav div:nth-child(odd) {
    border-right: 1px solid white;
}

            /*INFO*/


.info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    font-family: Arial;
    color: gray;
}

.description{
    padding-left: 45px;
    line-height: 30px;
}

.info article:nth-child(3){
    grid-column: 1/3;
}

.news{
    height: 50px;
    font-size: 45px;
    padding-left: 20px;
}

.image{
    background-image: url(imgHW/football.jpg);
    background-size: cover;
}





